In [1]:
import pandas as pd
import os
import numpy as np

## 1) ¿Cómo dividir una columna de texto en dos columnas separadas?

In [45]:
df = pd.DataFrame(["STD, City State",

"33, Kolkata West Bengal",

"44, Chennai Tamil Nadu",

"40, Hyderabad Telengana",

"80, Bangalore Karnataka"], columns=['row'])

In [46]:
df = pd.DataFrame(df.row.str.split(',').tolist(),
                                   columns = ['nuevo','row'])
print(df)

  nuevo                   row
0   STD            City State
1    33   Kolkata West Bengal
2    44    Chennai Tamil Nadu
3    40   Hyderabad Telengana
4    80   Bangalore Karnataka

## 2) ¿Cómo obtener la frecuencia de valores repetidos en todo el dataframe

In [66]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [84]:
df

    X   Y
0  28  74
1  35  84
2  46  99
3  50  13
4  66  26

## 3) ¿Cómo obtener las posiciones donde coinciden los valores de dos columnas?

In [72]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),

'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

In [76]:
print(df['fruit1']==df['fruit2'])
print(df[df['fruit1']==df['fruit2']])

0    False
1     True
2    False
3     True
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool
   fruit1  fruit2
1  banana  banana
3  orange  orange
4  banana  banana

## 4) A partir de un diccionario crear un DataFrame

In [78]:
dic = {'X':[28,35,46,50,66], 'Y':[74,84,99,13,26],'Z':[36,47,56,62,73]}

In [81]:
df = pd.DataFrame(dic,columns=['X','Y'])

In [82]:
df

    X   Y
0  28  74
1  35  84
2  46  99
3  50  13
4  66  26

## 5) Genere 3 columnas con 5 elementos cada uno. Cree una función para eliminar los N primeras o N últimas filas

In [108]:
df = pd.DataFrame(np.random.randint(1, 10,15).reshape(5,3))

In [109]:
df

   0  1  2
0  8  8  7
1  8  9  1
2  1  8  7
3  2  1  2
4  3  5  8

In [110]:
def eliminar(n,dataframe):
    for i in range(1,n+1):
        dataframe.pop(i)
    print(dataframe)

## 6) Genere 5 columnas con 5 elementos cada uno. Cree una función para ordenar de forma ascendente o descendente los datos por columna.

In [115]:
df = pd.DataFrame(np.random.randint(1, 10,25).reshape(5,5))

In [116]:
df

   0  1  2  3  4
0  4  6  6  3  9
1  1  7  8  3  8
2  5  6  8  8  9
3  8  8  8  4  1
4  6  3  6  5  7

In [125]:
def ordenar(columna,dataframe):
    pd.sort(dataframe[columna], ascending=[True, False])
    print(dataframe)

## 7) Genere 4 columnas con 5 elementos cada uno. Cree una función para obtener los N primeros o N ultimos registros

In [127]:
df = pd.DataFrame(np.random.randint(1, 10,20).reshape(5,4))

In [128]:
df

   0  1  2  3
0  8  6  3  6
1  7  5  8  8
2  6  8  6  6
3  7  7  2  6
4  3  2  5  7

In [138]:
def obtnerN(n):
    if(n>0):
        return df[:n]
    else:
        return df[n:]

In [141]:
print(obtnerN(-2)) ## ULTIMOS 2

   0  1  2  3
3  7  7  2  6
4  3  2  5  7

## 8) Genere 4 columnas con 5 elementos cada uno. Cree una función para obtener los N primeros o N ultimos registros.

In [142]:
df = pd.DataFrame(np.random.randint(1, 10,20).reshape(5,4))

In [143]:
df

   0  1  2  3
0  9  6  6  2
1  3  5  1  5
2  8  3  2  2
3  8  7  2  8
4  2  1  9  3

In [144]:
def obtnerN(n):
    if(n>0):
        return df[:n]
    else:
        return df[n:]

In [146]:
print(obtnerN(-2)) #ULTIMOS 2

   0  1  2  3
3  8  7  2  8
4  2  1  9  3

## 9) Genere 6 columnas con 5 elementos cada uno. Cree una función para obtener un nuevo DataFrame sin la columna X.

In [186]:
df = pd.DataFrame(np.random.randint(1, 10,30).reshape(5,6))

In [187]:
df

   0  1  2  3  4  5
0  7  5  8  4  4  2
1  1  5  5  5  6  6
2  1  3  4  4  8  4
3  8  8  4  9  6  2
4  5  9  8  9  5  1

In [196]:
def crear_nuevo(dataframe,col):
    return dataframe.drop(dataframe.columns[[col]],axis=1)

In [197]:
print(crear_nuevo(df,3))

   0  1  2  4  5
0  7  5  8  4  2
1  1  5  5  6  6
2  1  3  4  8  4
3  8  8  4  6  2
4  5  9  8  5  1

## 10) Genere 3 columnas con 5 elementos cada uno. Cree una función para obtener el numero de columnas en un dataframe.

In [211]:
df = pd.DataFrame(np.random.randint(1, 10,15).reshape(5,3))

In [212]:
df

   0  1  2
0  6  5  6
1  5  7  5
2  8  8  2
3  6  1  3
4  5  3  1

In [213]:
def getNelemntos(dataframe):
    return len(dataframe.columns)

In [214]:
getNelemntos(df)

3

## 11) Genere 2 columnas con 20 elementos cada uno. La primera columna debe de tener uno de los siguientes valores: C1, C2, C3 y C4. Estos valores se pueden repetir. La segunda columna tiene valores de números cualesquiera. Cree una función para

In [215]:
lista = ['C1','C2','C3','C4']

In [216]:
lista[0]

'C1'

In [219]:
arreglo = [i for i in range(20)]

In [222]:
from random import randint

In [224]:
arreglo2 = [ lista[randint(0, 3)] for i in range(20)]

In [235]:
df = pd.DataFrame([arreglo2,arreglo])

In [229]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,C2,C2,C2,C1,C1,C4,C4,C2,C4,C2,C4,C4,C4,C3,C2,C4,C3,C1,C3,C1
1,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19

## 12) Cree una función para crear un DataFrame a partir de una lista de listas. Suponga que la lista en la posicion 0 siempre son las cabeceras.

In [240]:
my_lists = [['col1', 'col2'], [2, 4], [1, 3]]

In [249]:
def crear_nuevo(lista_de_listas):
    return pd.DataFrame(lista_de_listas[1:],columns=lista_de_listas[0])

In [250]:
print(crear_nuevo(my_lists))

   col1  col2
0     2     4
1     1     3

## 15) Cree una funcion para cambiar strings o flotantes a tipo de dato entero de una columna y booleanos a 0 si es falso o 1 si es verdadero (tambien debe de quedar cambiada la columna a tipo entero). Cree un DataFrame de ejemplo para probar su funcion. Aqui un posible ejemplo:

In [252]:
df = pd.DataFrame([['Ana',True,12.50],['Pedro',False,12.50],['Juan',True,2.50]],columns=['Nombre','humano','dinero'])

In [255]:
df.iloc[1]['humano']

False

In [ ]:
def setDatos(dataframe):
    for i in range (dataframe.size):
        True dataframe.iloc[i]['humano']